/*************** BREACKPOINTS ***************/
$sm: 360px;
$md: 768px;
$lg: 1024px;
$xl: 1360px;


/*************** COLORS ***************/
$naranja:#F27334;



$blue1: #39619A;
$blue2: #406AA7;
$blue3: #7396FF;

$gray1: #F1F4F7;
$gray2: #ECF0F4;
$gray3: #CED5DC;
$gray4: #A5AAAE;

/*************** THEMES ***************/
$black: #0B0F22;
$white: #FFFFFF;

$light1: $gray1;
$light2: $gray2;
$light3: $gray3;
$light4: $gray4;

$primary: $blue1;
$secondary: $blue2;
$primary-light: $blue3;


$success : green;
$info : yellow;
$warning: $naranja;
$dark : $black;
$danger : #DD2E2E;



/*************** FONTS SIZE ***************/
$t-xs: 14px;
$t-sm: 15px;

$t-normal: 16px; 

$t-md: 20px;
$t-lg: 24px;
$t-xl: 32px;
$t-xl2: 36px;


/*************** BORDER RADIUS ***************/
$border-radius-sm: 4px;
$border-radius-md: 0.25rem;


// ************** TAGS THEMES ************* // 

$red : #DD2E2E;
$red-light : #dd2e2e1a;

$orange : #f27334;
$orange-light : #f273341a;

$green : #24a851;
$green-light : #24a8511a;


