// breakpoints
$sm: 360px;
$md: 768px;
$lg: 1024px;
$xl: 1360px;

// themes

$black: #0B0F22;
$white: #FFFFFF;

$light1: #F1F4F7;
$light2: #ECF0F4;
$light3: #CED5DC;
$light4: #A5AAAE;

$warning:#F27334;

// Shadows


