/*************** FONTS ***************/

.font-xs {
    @include font(11px, 13.41px);

    @include responsive(v.$md) {
        @include font(v.$t-xs, 17.07px, );
    }

    font-weight: 400;

}

.font-sm {
    @include font(12px, 14.63px);

    @include responsive(v.$md) {
        @include font(v.$t-sm, 18.29px);
    }

    font-weight: 400;

}

.font-normal {
    @include font(12px, 14.63px);

    @include responsive(v.$md) {
        @include font(v.$t-normal, 19.5px);
    }

    font-weight: 500;

}

.font-md {
    @include font(14px, 14.63px);

    @include responsive(v.$md) {
        @include font(v.$t-md, 24.38px);
    }

    font-weight: 600;

}


.font-lg {
    @include font(16px, 20px);

    @include responsive(v.$md) {
        @include font(v.$t-lg, 29px);
    }

    font-weight: 600;

}

.font-xl {
    @include font(16px, 20px);

    @include responsive(v.$md) {
        @include font(v.$t-xl, 39.01px);
    }

    font-weight: 700;

}

.font-xl2 {
    @include font(24px, 20px);
    @include responsive(v.$md) {
        @include font(v.$t-xl2, 43.88px);
    }

    font-weight: 700;
}


body,
p {
    font-family: 'Montserrat';
    font-feature-settings: 'pnum' on, 'lnum' on;
    @extend .font-normal;
    position: relative;


}

h1 {
    @extend .font-xl2;
}

h2 {
    @extend .font-xl;
}

h3 {
    @extend .font-lg;
}

h4 {
    @extend .font-md;
}

h5 {
    @extend .font-sm;
}

h6,
small {
    @extend .font-xs;
}


span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

/*************** BUTTONS ***************/

button,
.btn {
    cursor: pointer;

    padding: 16px 20px;
    @include flex(center, center);
    gap: 0.75rem;
    border-radius: v.$border-radius-sm;

    text-transform: uppercase;

    // size

    &.btn-lg {
        padding: 24px;
    }

    &.btn-sm {
        padding: 12px;
    }

    &.no-border{
        padding-left: 0px;
        padding-right: 0px;
    }

    // type

    &.btn-close {
        margin-left: auto;
        @include flex(center, center);
        // flex justify-center items-center ml-auto 
    }

}

a {
    &.link {
        text-transform: uppercase;
        color: v.$primary;
        font-weight: 500;
        text-decoration: underline;
    }
}
