/*************** theme colors ***************/

.primary,
.bg-primary {
    background-color: v.$primary;
    color: v.$white;
}

.light,
.bg-light {
    background-color: v.$light1;
    color: v.$primary;
    border: 1.5px v.$light2 solid;
}

.white,
.bg-white {
    background-color: v.$white;
    color: v.$primary;
}

.success,
.bg-success {
    background-color: v.$success;
    color: v.$white;
}

.info,
.bg-info {
    background-color: v.$info;
    color: v.$black;
}

.warning,
.bg-warning {
    background-color: v.$warning;
    color: v.$white;
}

.danger,
.bg-danger {
    background-color: v.$danger;
    color: v.$primary;
}

.danger,
.bg-danger {
    background-color: v.$danger;
    color: v.$danger;
}


// ********* TAG THEMES *********//

// $rgb-red:239, 68, 68;
// $rgb-orange: 242, 115, 52;
// $rgb-green: 36, 168, 81;

// :root{
//     --red: 239, 68, 68;
//     --orange: $rgb-orange;
//     --green: $rgb-green;
// }


// .tag-red {
//     --tw-text-opacity: 1;
//     color: rgb(var(--red));
//     background-color: rgb(var(--red) / var(--tw-bg-opacity));
// }

// .tag-orange {
//     --tw-text-opacity: 1;
//     color: rgb(var(--orange));
//     background-color: rgb(var(--orange) / var(--tw-bg-opacity));
// }

// .tag-green {
//     --tw-text-opacity: 1;
//     color: rgb(var(--green));
//     background-color: rgb(var(--green) / var(--tw-bg-opacity));
// }

