/*************** theme colors ***************/

.primary,
.bg-primary {
    background-color: v.$primary;
    color: v.$white;
}

.light,
.bg-light {
    background-color: v.$light1;
    color: v.$primary;
    border: 1.5px v.$light2 solid;
}

.light2,
.bg-light2 {
    background-color: v.$light2;
    color: v.$black;
    border: 1.5px v.$light2 solid;
}


.text-primary {
    color: v.$primary;
}

.success,
.bg-success {
    background-color: v.$success;
    color: v.$white;
}

.info,
.bg-info {
    background-color: v.$info;
    color: v.$black;
}

.warning,
.bg-warning {
    background-color: v.$warning;
    color: v.$white;
}

.danger,
.bg-danger {
    background-color: v.$danger;
    color: v.$primary;
}

.danger,
.bg-danger {
    background-color: v.$danger;
    color: v.$danger;
}

.bg-gray {
    color: v.$black;
    background-color: v.$light1;
}



//********** TAG THEME ************ //

.tag-red {
    --tw-text-opacity: 1;
    color: v.$red;
    background-color: v.$red-light;
}

.tag-orange {
    --tw-text-opacity: 1;
    color: v.$orange;
    background-color: v.$orange-light;
}

.tag-green {
    --tw-text-opacity: 1;
    color: v.$green;
    background-color: v.$green-light;
}

.tag-purple {
    --tw-text-opacity: 1;
    color: v.$purple;
    background-color: v.$purple-light;
}

.tag-gray {
    --tw-text-opacity: 1;
    color: v.$black;
    background-color: v.$light2;
}



